<div>
  <md-toolbar color="primary">
    <md-icon class="toolbar-icon">face</md-icon>Zombicide Survivor Generator
  </md-toolbar>
  <md-sidenav-container>
    <md-sidenav class="sidenav-content" align="end" mode="side" opened>

      <md-tab-group>

        <md-tab label="Survivors">
          <div class="tab-content">
            <div>
              <md-input-container dividerColor="accent" align="right">
                <input mdInput type="text" placeholder="Find a survivor by name" #f1 (input)="survivorFilter$.next(f1.value)">
                <md-icon mdSuffix>search</md-icon>
              </md-input-container>
              <div *ngFor="let survivor of survivors" class="skill-pill">
                <strong>{{ survivor.name }}</strong> - {{ survivor.set }}
              </div>
            </div>
          </div>
        </md-tab>

        <md-tab label="Skills">
          <div class="tab-content">
            <div>
              <md-input-container dividerColor="accent" align="right">
                <input mdInput type="text" placeholder="Find a skill" #f2 (input)="skillFilter$.next(f2.value)">
                <md-icon mdSuffix>search</md-icon>
              </md-input-container>
              <div *ngFor="let skill of skills" class="skill-pill">
                <strong>{{ skill.name }}</strong> - {{ skill.desc }}
              </div>
            </div>
          </div>
        </md-tab>

      </md-tab-group>

    </md-sidenav>

    <md-toolbar class="set-filter">
      <md-chip-list (click)="filterSurvivors()">
        <md-chip color="primary" [selected]="set.bs" (click)="set.bs = !set.bs">Base Set</md-chip>
        <md-chip color="primary" [selected]="set.wb" (click)="set.wb = !set.wb">Wulfsburg</md-chip>
        <md-chip color="primary" [selected]="set.hb" (click)="set.hb = !set.hb">Hero Box</md-chip>
        <md-chip color="primary" [selected]="set.gb" (click)="set.gb = !set.gb">Guest Box</md-chip>
      </md-chip-list>
    </md-toolbar>

    <div class="container">
      <md-grid-list cols="3" rowHeight="95:80" gutterSize="15px">
        <md-grid-tile *ngFor="let survivor of survivors; trackBy: survivor?.name" class="survivor-tile">
          <img src="assets/img{{ survivor.image }}/f{{ survivor.name }}.jpg">
          <md-grid-tile-footer>
            <h3 md-line>{{ survivor.name }}</h3>
            <h2 md-line>{{ survivor.set }}</h2>
            <button md-icon-button>
            <md-icon>info</md-icon>
          </button>
          </md-grid-tile-footer>
        </md-grid-tile>
      </md-grid-list>
    </div>

  </md-sidenav-container>
</div>