md-sidenav-container {
  height: 100%;
}

.container {
  padding: 20px;
}

.sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-left: 1px solid rgba(0, 0, 0, 0.5);
}

.toolbar-icon {
  font-size: 24px;
  margin-right: 10px;
}

.search-container{
  width: 100%;
}

.set-filter.mat-toolbar>div {
  display: none;
}

.survivor-tile img {
  width: 100%;
}