<div class="cards-container">
  <md-card class="card" *ngFor="let sur of survivor | async; trackBy: survivor?.name">
    <md-card-header>
      <md-card-title>{{ sur.name }}</md-card-title>
      <md-card-subtitle>{{ sur.set }}</md-card-subtitle>
    </md-card-header>
    <img md-card-image src="assets/img{{ sur.image }}/i{{ sur.name }}.jpg" alt="{{ sur.name }}`s image">
  </md-card>

  <md-card class="card" *ngFor="let sur of survivor | async; trackBy: survivor?.name">
    <md-card-header>
      <md-card-title>{{ sur.name }}</md-card-title>
      <md-card-subtitle>{{ sur.set }}</md-card-subtitle>
    </md-card-header>
    <div md-card-image class="overlay">
      <img src="assets/img{{ sur.image }}/f{{ sur.name }}.jpg" alt="{{ sur.name }}`s image">
      <div>
        <div *ngFor="let skill of skillz | async" class="skill-pill">
          <span>
            <strong>{{ skill?.name }}</strong> - {{ skill?.desc }}
          </span>
        </div>
      </div>
    </div>
  </md-card>
</div>