.cards-container {
    min-height: calc(100% - 64px);
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    align-content: center;
    flex-wrap: wrap;
    padding: 8px;
}

.card {
    flex: 1 0 300px;
    margin: 8px;
}
