.cards-container {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    /*flex-flow: row nowrap;*/
    justify-content: space-around;
}

.card {
    flex-grow: 0.35;
    flex-basis: 0;
    margin: auto;
}
